  - name: {{ cookiecutter.tap_id }}
    namespace: {{ cookiecutter.library_name }}
    pip_url: -e ./packages/{{ cookiecutter.tap_id }}
    capabilities:
    - state
    - catalog
    - discover
    - about
    - stream-maps
    - structured-logging
    settings_group_validation:
    - [storage_state_path]
    settings:
    - name: storage_state_path
      label: Storage State Path
      sensitive: true
    - name: base_url
      value: {{ cookiecutter.base_url }}
    - name: session_probe_url
      value: {{ cookiecutter.session_probe_url }}
    config:
